export XDG_BIN_HOME="$HOME/.local/bin"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_LIB_HOME="$HOME/.local/lib"
export XDG_OPT_HOME="$HOME/.local/opt"
export XDG_STATE_HOME="$HOME/.local/state"

# Sometimes on Ubuntu, it's easier to install an application via Homebrew
if [[ $(uname -s) == "Linux" ]]; then
  export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
fi

export EDITOR="nvim"
export VISUAL="nvim"

export ZSH_CONFIG_HOME="$XDG_CONFIG_HOME/zsh"
export NVM_DIR="$XDG_CONFIG_HOME/nvm"

export PATH="$XDG_BIN_HOME:$PATH"

